@import "../mixins/mixins.scss";

$grisNoir: #1e1e1e;
$noir: #040404;
$grisNav: #f1f1f1;
$grisNavHover: #f6f6f6;
$grisNavNestedHover: #FBFBFB;
$grisTexteNav: #575757;
$grisPaleTIM: #b1b1b1;
$grisPaleBordureNav: #eaeaea;

$grisFonce: #555555;

//Couleurs de base (MENU)
$mauve: #7e57c2;
$rouge: #d32f2f;
$orange: #ee680b;
$bleuGris: #455a64;

//Couleurs page Accueil
$bleuMediasSociaux: #00baff;
$bleuProjetsSlogan: #00a3ff;
$bleuTexte: #00b9ff;
$noirFondEvenement:#000;

//Couleurs page Diplômés
$orangeAcollade: #ee680b;
$orangeInteraction: #ec520f;
$grisProjet: #eaeaea;
$grisProjet2: #f6f6f6;

//Couleurs page stages
$turquoiseMenu:#0ea08e;
$turquoisefonce:#009688;
$turquoiseContenuStage:#009381;

//Couleurs pages futur étudiant
$mauveReponse: #826ac8;

//Couleurs page Nous Joindre
$grisBleu: #455a64;

//stages 
$paddingContenu:4.25em;
$heightCase : 35.9375em;

